{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
        <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search"/>
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close"/>
        </svg>
      </span>
    </summary>
    <div
      class="search-modal color-{{ section.settings.search_bar_color_scheme }} gradient modal__content custom-scrollbar"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <template class="deferred">
        <div
          class="search-modal__content search-modal__content-bottom"
          tabindex="-1"
        >
          {%- render 'header-search-box', input_id: input_id -%}
          <button
            type="button"
            class="search-modal__close-button modal__close-button link link--text focus-inset"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            <svg class="icon icon-close" aria-hidden="true" focusable="false">
              <use href="#icon-close"/>
            </svg>
          </button>
        </div>
      </template>
    </div>
  </details>
  <div class="drawer__overlay drawer__header-overlay"></div>
</details-modal>
